.form{
    max-width: 500px;
    width: 100%;
    border: 1px solid bisque;
    margin: 200px auto;
    padding: 40px;
}

.submitBtn{
    border: 1px solid bisque;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s;
    color: inherit;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: #393939;
}

.submitBtn:focus{
    outline: none;
    border: 1px solid rgb(248, 178, 93);
}
